<%- include('partials/header')%>


<div class="div7">
    <p><h1>A KEEN PROGRAMMER READY TO CODE</h1></p></br>
</div>
<img src="/images/img2.jpeg" width="" height="300px" class="img" style="margin-top: 20px"> 

<div class="set5">
    <h2 class="set6">ABOUT ME</h2>
    <ul class="set4">

            <li >
                <h4>Name: Uday Partap Singh Sidhu</h4>
            </li>
            
            <li>
                <h4>Country : India</h4>
            </li>

            <li>
                <h4>Age : 18</h4>
            </li>

            <li>
                <h4>Education : Currenly Studying Software Engineering At Cetennial College</h4>
            </li>

            
        
        
    </ul>
</div>

<div class="skills">
        <p><h2 class="set2">Skills : </h2></p>
        <ul class="set3">
        <li>
        <h4>Proficient in Java, C#, HTML5, CSS3, JavaScript, SQL and Linux, GitHub, NodeJS, Express, ASP.NET</h4> 
        </li>

        <li>
            <h4>Able to configure and deploy web applications on industry-standard platforms</h4>
        </li>

        <li>
            <h4>Skilled in using Windows/UNIX/LINUX operating system</h4>
        </li>

        <li>
            <h4>Creates web applications using dynamic and static pages, with database access and graphics</h4>
        </li>

        <li>
        <h4>Proficient in client-side and server-side programming to make a complete web app</h4> 
        </li>

        <li>
            <h4>Capable of designing and documenting conceptual, logical and physical database models</h4>
        </li>

        <li>
            <h4>Knowledgeable of Oracle SQL with a sound understanding of relational databases</h4>
        </li>

        <li>
            <h4>Able to performnormalization of logical database designs</h4>
        </li>

        <li>
            <h4>A collaborative Software Engineering Technology student, with a proven passion and tenacity 
                for learning new skills and technologies</h4>
        </li>

        <li>
            <h4>Strong communication skills, with the ability to express technical concepts to non-technical 
                personnel, as well as build positive working relationships</h4>
        </li>

        <li>
            <h4>Skilled with troubleshooting and debugging, possessing a solution-driven mindset </h4>
        </li>

        <li>
            <h4>Demonstrated skills in managing competing priorities and consistently meets project deadlines </h4>
        </li>

        </ul>

    </div>


<%- include('partials/footer')%>

