<%- include partials/header.ejs %>
<div class="formcontainer">
			
  <h3 align="center">Contact</h3>
  <p align="center">Kindly fill all the fields to contact me</p>
  
  
  <form name="registration" id="registration" align="center">
  
  
    <label for="name">Name</label></br>
    <input type="text" name="name" class="input" id="name"></br>
    
    <label for="contactno">Contact Number</label></br>
    <input type="text" name="contactno" class="input" id="contactno"></br>
    
    <label for="secondary">Secondary Contact Number</label></br>
    <input type="text" name="secondary" class="input" id="secondary"></br>
    
    <label for="emailid">Email Address</label></br>
    <input type="text" name="emailid" class="input" id="emailid"></br>
    
    <label for="password">Password</label></br>
    <input type="text" name="password" class="input" id="password"></br>
    
    <label for="address">Address</label></br>
    <textarea type="text" name="address" class="input" id="address"></textarea></br>
  
  <input type="submit" name="submit" class="input" id="submit" class="btnsubmit">
  
  </form>
</div>
<%- include partials/footer.ejs %>