<%- include('partials/header')%>

  <div class="right">
        <p class="ip">
            
            <h1 class="ip">
                Portfolio Website<br>
            </h1>

        </p>
  </div>

  <div class="indiv6">
      <p>
        <h2 style="padding:25px">Mission Statement</h2>
      </p>

      <p class="pstyle2">
        An effort to put programming expertise from OOP languages to use by creating educational and engaging websites and web applications that
        meet the needs of the employer Additionally, create web apps utilising frameworks like mongoDB, nodeJS, and express that take advantage
        of your expertise of database and web design to satisfy the needs of the user.
      </p>

  </div>
    

<img src="./images/img6.jpg" width="70%" height="1000px" style="margin-top:-1000px;float:left">
<%- include('partials/footer')%>
