<%- include partials/header.ejs %>
<div class="indiv1">
    <h2 style="color:#05386B;; padding-left: 80px;">eCommerce Database, SQL Developer</h2> 
    <img src="./images/img3.jpg" width="765px" height="350px" style="padding:20px">				                             
        	<h4 style="color:#05386B;padding:20px">Designed and built a database that keeps records of sales and purchases made by stores and customers respectively
                Implemented normalization (1NF, 2NF, 3NF) by eliminating data anomalies, partial dependencies and transitive dependencies. This database helps variety stores 
                keep track of the inventory in addition to providing customers with the needed products.    
            </h4>
        
</div>

<div class="indiv2">
    <h2 style="color:#05386B;; padding-left: 80px;">Software Application (C#, WPF Framework)  </h2>                                                                                    </h2> 
    <img src="./images/img3.jpg" width="765px" height="350px" style="padding:20px">	
    <h4 style="color:#05386B;padding:20px">Built an interactive information management software program 
        	Allows users to register as school students by entering personal required data  
        	Assists school in their registration process by receiving/storing information entered by users
            
    </h4>
</div>
<%- include partials/footer.ejs %>

