<%- include('partials/header')%>
<div style="overflow:auto"> 
<div class="bmark">
    <h1>Projects</h1>
    <ul class="ulstyle">
        <li>
            SQL
        </li>

        <li>
            HTML
        </li>

        <li>
            C#
        </li>

        <li>
            JavaScript
        </li>
    </ul>
</div>

<div class="indiv1">
    <h2 style="color:#000000;; padding-left: 45px;padding-top: 20px;">eCommerce Database, SQL Developer</h2> 
    <img src="./images/img3.jpg" width="400px" height="350px" style="padding-right: 20px;">				                             
        	<p class="pstyle">Designed and built a database that keeps records of sales and purchases made by stores and customers respectively
                Implemented normalization by eliminating data anomalies, partial dependencies and transitive dependencies. This database helps variety stores 
                keep track of the inventory in addition to providing customers with the needed products.    
            </p>
        
</div>

<div class="indiv2">
    <h2 style="color:#000000; padding-left: 30px;padding-top: 20px;">Software Application (C#, WPF Framework)  </h2>                                                                                    </h2> 
    <img src="./images/img4.png" width="400px" height="350px" style="padding-right: 20px;">	
    <p class="pstyle">Built an interactive information management software program 
        	Allows users to register as school students by entering personal required data  
        	Assists school in their registration process by receiving/storing information entered by users
            
    </p>
</div>
<div class="indiv3">
    <h2 style="color:#000000;; padding-left: 80px;padding-top: 20px;">BMR Calculator, JavaScript</h2> 
    <img src="./images/bmr.png" width="400px" height="350px" style="padding-right: 20px;">				                             
        	<p class="pstyle">Designed and built a bmr calculator using JavaScript that calculates the bmr of users.
                The calculator inculdes field validations that do not allow the users to keep any field empty while calculating their bmr.
            </p>
        
</div>
<div class="indiv4">
    <h2 style="color:#000000; padding-left: 80px;padding-top: 20px;">Website, HTML  </h2>                                                                                    </h2> 
    <img src="./images/img4.png" width="400px" height="350px" style="padding-right: 20px;">	
    <p class="pstyle">Built an informational 5 page website that represents information about a construction company. This
        website helps users to contact the company officials by registering on the website. Moreover, the website provides significant information
        regarding the company and the services that it provides.
            
    </p>
</div>
</div>

<%- include('partials/footer')%>

