<%- include partials/header.ejs %>
<div class="bmark3">
    <h2>Services</h2>
    <ul class="ulstyle">
        <li>
            Creative Design
        </li>

        <li>
            Unique Layout
        </li>

        <li>
            Simplicity
        </li>

        <li>
            Response
        </li>

        <li>
            Code Testing
        </li>


    </ul>
</div>

<div class="sdiv">
    <h2>Creative Design</h2>
        <p class="pstyle3">Creating websites with a creative and distinctive style to guarantee client satisfaction. 
            Making websites for clients, regardless of how difficult the assignment, and finishing the work before the due date. 
            Additionally, focusing in contemporary and fashionable design methodologies.
        </p>
</div>

<div class="sdiv">
    <h2>Unique Layout</h2>
    <p class="pstyle3">Creating websites with a distinctive layout and design to delight clients and make a good impression. 
        Additionally, making websites in line with the demands of the market today and with the corporate world.
    </p>
</div>

<div class="sdiv">
    <h2>Simplicity</h2>
    <p class="pstyle3">Creating websites with a simple, contemporary, and creative design to satisfy customers. 
        Creating a design that looks neat and tidy by using an original and straightforward layout.
    </p>

</div>

<div class="sdiv">
    <h2>Responsiveness</h2>
    <p class="pstyle3"><p class="pstyle3">Creating websites with a simple, contemporary, and creative design to satisfy customers. 
        Creating a design that looks neat and tidy by using an original and straightforward layout.
    </p>
    
</div>

<div class="sdiv">
    <h2>Code Testing</h2>
    <p class="pstyle3"><p class="pstyle3">Performing significant code tests to ensure successful running of the web applications as requested the customer. 
        Moreover, creating websites for customers irrespective of the size of the web application.
    </p>
</div>
<%- include partials/footer.ejs %>